<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Recuperar Contraseña</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
            crossorigin="anonymous"
    />
    <style>
        .text_blue{
        font-color: blue;
        }
        .text_white{
        color: white;
        }
        .box_black {
	    background: #222;
        }
    </style>
</head>
<body class="box_black">
<br/>
<div class="container">
    <form th:action="@{/auth/recoverpassword}" method="post" th:object="${user}">
        <div class="form-outline mb-4">
            <label class="form-label" for="email"><h4 class="text_white" >Email:</h4></label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Ejemplo@gmail.com"/>
        </div>
        <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="password"><h4 class="text_white" >Contraseña:</h4></label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña"/>
        </div>
        <!-- Submit button -->
        <button type="submit" class="btn btn-secondary btn-block mb-4">Guardar</button>
    </form>
</div>
</body>
</html>
